<style>
  /* styling applicable to all elements and css variables */
  :root {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #26292c;
    --bg-secondary: #141418;
  }
  /* body setup to fill whole viewport */
  body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
  }
  /* main setup to leave space for navbar */
  main {
    margin-left: 5rem;
    background-color: var(--bg-primary);
    justify-content: left;
  }

  /* scrollbar styling */
  body::-webkit-scrollbar {
    width: 1rem;
  }
  body::-webkit-scrollbar-track {
    background: var(--text-primary);
  }
  body::-webkit-scrollbar-thumb {
    background: var(--bg-secondary);
  }

  /* navbar styling */
  .navbar {
    width: 5rem;
    height: 100vh; /* 100% of the viewport height */
    position: fixed; /* Stay in place */
    flex-direction: column;
    justify-content: left;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    background-color: var(--bg-secondary);
    transition: 0.3s ease-in-out;
    z-index: 300;
  }
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .nav-item {
    width: 100%;
    align-items: center;
    /* transition: 3s ease; */
  }

  /* .nav-item:last-child {
    margin-top: auto;
  } */

  .nav-item-first_bottom {
    margin-top: auto;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.5);
    transition: 0.5s;
  }

  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-primary);
    color: var(--text-secondary);
    /* width: 16rem; */
  }
  .nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
    color: var(--text-primary);
    transition: width 0.3s ease;
  }

  .navlink-text {
    color: var(--text-primary);
    /* Prevent text wrapping when parent element are resizing - results in text jumping aroung */
    white-space: nowrap;
    /* display: block; */
    margin-left: 1rem;
    overflow: hidden;
    width: 0 rem;
  }
  .navbar:hover {
    /* on hover reveal all the elements and categories */
    width: 14rem;
  }

  .submenu {
    /* By default the submenu is hidden */
    max-height: 0;

    /* overflow-x: clip; */
    overflow-y: clip;
    /* Revealing and hiding the menu is not instanteanous */
    transition: 0.3s ease-in-out;
  }

  .submenu-list {
    /*No margin or padding on the left*/
    padding-left: 0;
  }

  .submenu-item {
    /* display: flex; */
    align-items: center;
    /* Prevent text wrapping when parent element are resizing - results in text jumping aroung */
    white-space: nowrap;
    /* offset link text to push it  */
    padding-left: 0.5rem;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    height: 3rem;
    width: 100%;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.5);
  }

  a {
    /* stope text decoration to not have the underline on links */
    text-decoration: none;
  }

  .navbar:hover .submenu {
    min-height: 0;
    max-height: 100rem;
    transition: 0.3s;
  }

  .navbar:hover .navlink-text {
    /* background-color: #1a83ff; */
    display: block;
    width: 10 rem;
    z-index: 300;
    /* transition: 0.3s ease; */
  }

  .anchor {
    position: relative;
  }
  .navigation-tooltip {
    position: absolute;
    background-color: var(--bg-secondary);

    border-radius: 1rem;
    padding: 5px 10px;

    /* align to the right from parent container (anchor) and in the center vertically*/
    left: 100%;
    top: 50%;
    width: 10rem;
    transform: translateY(-50%);
    /* Separate from the navbar */
    margin-left: 0.5rem;

    /* align the content horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation-tooltip-icon {
    position: relative;
    height: 5rem;
  }
</style>
