{% load static %} {% load markdown_extras %}
<!-- post_display.html -->
<div class="container">
  <!-- Title -->
  <h1>{{ post.title }}</h1>

  <!-- Post Details -->
  <div class="post-details">
    <div class="row">
      <!-- <div class="col-md-3">
        {% if post.thumbnail %}
        <img
          src="{{ post.thumbnail.url }}"
          alt="{{ post.title }}"
          class="img-thumbnail"
        />
        {% endif %}
      </div> -->
      <div class="col-md-9">
        <p>
          <strong>by:</strong> {{ post.author }}
          <strong>created:</strong> {{post.created_at|date:"F d, Y" }}
          <strong>modified:</strong> {{ post.modified_at|date:"F d, Y" }}
        </p>
      </div>
    </div>
  </div>

  <!-- Content element that is on light grey background-->

  <div class="post-content">
    {{ post.content|markdown|safe }}
    <!-- Note the use of "|safe" to render markdown content safely -->
  </div>
  <!-- Divider -->
  <hr />
</div>
