<article class="card h-100">
  <div class="card-img-wrapper position-relative" data-wrapper="true">
    <div
      class="card-img-top"
      style="
      background-image: url('{{ project.thumbnail.url }}');
      background-size: cover;
      background-position: center;
      height: 300px;
    "
    ></div>
  </div>
  <div class="card-body d-flex flex-column">
    <header>
      <h5 class="card-title">{{project.name}}</h5>
    </header>
    <p class="card-text">{{project.description}}</p>
    {% if project.skills.all %}
    <section class="pb-3" data-skills>
      {% for skill in project.skills.all %}
      <small class="badge rounded-pill text-bg-secondary">{{skill}}</small>
      {% endfor %}
    </section>
    {% endif %}

    <footer class="mt-2 mt-md-auto align-self-bottom">
      <a href="{{project.github_url}}" class="btn btn-primary">GitHub</a>
      {% if project.hosted_url %}
      <a href="{{project.hosted_url}}" class="btn btn-primary">Website</a>
      {% endif %}
    </footer>
  </div>
</article>
